<include file="Public/header" title="Login"/>
<link href="__HomeCSS__/work.css" rel="stylesheet" media="all"/>
<script type="text/javascript">
    window.onload = function () {
        document.getElementById('subCom').click = function () {
            var now = new Date();
            var layer = document.getElementById("layer");
            var divlayer = document.createElement("div");
            var con = document.getElementById("content").value;
            con = con.replace(/\n/g, "<br />");
            divlayer.innerHTML = "<img src='__HomeIMG__/index/person_2.png' width='40px' class='header'/>" + con + "<div class='stime'>" + now.toLocaleString() + "</div><div class='clear'></div>";
            divlayer.className = "content";
            layer.appendChild(divlayer);
            document.getElementById("content").value = "";
        }
    }

</script>
<div id="container" class="container-min-width" style="display: block;">
    <div class="dynamic">
        <!--<div class="background_top"></div>-->
        <div class="background_middle">


            <volist name="ArticalMain" id="vo">
                <div id="atrid" style="display:none">{$vo.ariticalid}</div>

                <div class="content2">

                    <div class="author">
                        <a href="__MODULE__/user/personone/id/{$vo.userid}">
                            <img src="__HomeIMG__/index/person_1.png" width="100%"/>
                        </a>
                    </div>

                    <div class="author_name">
                        <h>{$vo.username}</h>
                    </div>

                    <div class="work_bottom">
                        <div class="bottom_1"></div>
                        <div class="bottom_2"></div>
                    </div>

                    <div class="author_title">
                        <h style="color: black!important;">{$vo.title}</h>
                    </div>

                    <div class="author_content">
                        {$vo.content|htmlspecialchars_decode}
                    </div>
                    <!--<?php dump($nums) ?>-->
                    <div class="follower">
                        <input type="button" class="follower_btn" onclick="uper()"/><span id="nums" name="nums">{$nums.num}</span>

                    </div>

                </div>
            </volist>
            <div class="recommend-line">
                <a>评论</a>
            </div>

            <div class="view">

                <div class="view_me">
                    <a href="">
                        <img src="__HomeIMG__/index/person_1.png" width="80%"/>
                    </a>
                </div>

                <textarea id="content" rows="1" cols="100" placeholder="添加评论" name="caption"
                          style=""></textarea>

                <div id="view_submit">
                    <input type="button" value="提交" class="submit" style="background-color: #814e51;" id="subCom" onclick="addcomment()"/>
                    <input type="button" id="report" class="submit" style="background-color: #F59319;" value="举报" onclick="report()">
                </div>
            </div>

        </div>
        <div style="width: 90%;margin: auto;">
            <volist name="comment" id="com">
                <div class="other">
                    <div class="view_top">

                        <div class="view_l">
                            <a href=""><img src="__HomeIMG__/index/person_2.png" width="40px"/></a>
                        </div>

                        <!--<div class="other_name" >-->
                        <span style="font-size:16px;color:#666;float: left;margin-left: 5%;margin-top: 10px;">{$com.username}</span>
                        <div style="float: right;font-size: 14px;color:#aaa;display: inline-block;margin-top: 10px;">
                            {$com.creattime}
                        </div>
                        <!--</div>-->

                        <div style="clear: both"></div>
                    </div>

                    <div class="view_m">
                        <h style="font-size:14px;color:#aaa;">{$com.content}</h>
                    </div>
                </div>
            </volist>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>
<div style="clear: both"></div>
<script>
    var url = window.location.href;
    var st = url.split("/");
    var i = st.length;
    var j = st[i - 1];
    function uper() {
        alert("谢谢关注!");

        $.ajax({
            type: "get", //请求的方式
//                    dataType: "json", //数据的格式 建议大家使用json格式
            url: "__MODULE__/Essay/upessay/id/" + j, //请求的url地址
            success: function (data) { //请求成功时，处理返回来的数据
                var numbers = data.num;
                $("#nums").html(numbers);
//                        alert(url)
            }
        })
    }
    function addcomment() {
        var comment = {id: j, comment: $("#content").val()};
        if ($("#content").val() == "") {
            alert("请输入吐槽内容");
        }
        else {
            $.ajax({
                type: "post", //请求的方式
                dataType: "json", //数据的格式 建议大家使用json格式
                data: comment,
                url: "__MODULE__/Essay/addcomment", //请求的url地址
                success: function (data) {
                    if (data == 0) {
                        window.location.href = window.location.href;
                    }
                    else {
                        alert("网络繁忙,请稍后再试。");
                    }
                }
            })
        }
    }
    function report(){
        $.ajax({
            type: "get", //请求的方式
            url: "__MODULE__/Essay/report/id/" + j, //请求的url地址
            success: function (data) { //请求成功时，处理返回来的数据
                var msg = data.msg;
//                $("#report").backgroundColor=gray;
                alert(msg)
            }
        })
    }
</script>
<include file="Public/footer" title="Index"/>

