<include file="Public/header" title="Login" />
<link href="__HomeCSS__/work.css" rel="stylesheet" media="all" />
<script type="text/javascript">
	window.onload=function(){
		document.getElementById('subCom').click=function() {
			var now = new Date();
			var layer = document.getElementById("layer");
			var divlayer = document.createElement("div");
			var con = document.getElementById("content").value;
			con = con.replace(/\n/g, "<br />");
			divlayer.innerHTML = "<img src='__HomeIMG__/index/person_2.png' width='40px' class='header'/>" + con + "<div class='stime'>" + now.toLocaleString() + "</div><div class='clear'></div>";
			divlayer.className = "content";
			layer.appendChild(divlayer);
			document.getElementById("content").value = "";
		}
	}

	</script>
		<div id="container" class="container-min-width" style="display: block;">
			<div class="dynamic">
				<div class="background_top"></div>
				<div class="background_middle">


					<volist name="ArticalMain" id="vo">


					<div class="content2">

						<div class="author">
							<a href="">
								<img src="__HomeIMG__/index/person_1.png" width="100%" />
							</a>
						</div>

						<div class="author_name">
							<h>{$vo.username}</h>
						</div>

						<div class="work_bottom">
						<div class="bottom_1"></div>
						<div class="bottom_2"></div>
						</div>

						<div class="author_title">
							<h style="color: black!important;">{$vo.title}</h>
						</div>

						<div class="author_content">
							{$vo.content|htmlspecialchars_decode}
						</div>

						<div class="follower">
								<input type="button" class="follower_btn" onclick="alert('赞');" /><span>55</span>
						</div>

						</div>
					</volist>
					<div class="recommend-line">
						<a>评论</a>
					</div>

					<div class="view">

						<div class="view_me">
							<a href="">
								<img src="__HomeIMG__/index/person_1.png" width="80%" />
							</a>
						</div>

						<textarea id="content" rows="1" cols="100" placeholder="添加评论" name="caption" style="runat：server；"></textarea>

						<div id="view_submit" >
							<input type="button" value="提交" class="submit" id="subCom"/>
						</div>
					</div>

				</div>



							<div class="clear"></div>
		<include file="Public/footer" title="Index" />

