<include file="Public/header" title="Index" />
<link href="__HomeCSS__/essay.css" rel="stylesheet" type="text/css" />
		<div class="body">

		<div id="main">
			<div id="main_head">
				Hi，看了童鞋们的设计文章涨姿势了吗？马上&nbsp;<a href="{:U('User/pshWorksPag')}">上传一篇</a>&nbsp;你的原创文章，和大家一起分享吧！
			</div>
			<div class="borderTop">
				<table width="100%">
					<tbody>
						<tr>
							<td>
								<div class="sort">
									<dl>
										<dt>类别：</dt>
										<dd>
											<a href="" class="select">原创教程</a>
											<a href="">设计资讯</a>
											<a href="">小伙伴观点/经验</a>
										</dd>

									</dl>
									<dl>
										<dt>排序：</dt>
										<dd>
											<a href="" class="select">上传时间</a>
											<a href="">推荐最多</a>
											<a href="">人气最高</a>
											<a href="">评论最多</a>
										</dd>
									</dl>
									<dl>
										<dt>时间：</dt>
										<dd>
											<a href="" class="select">不限</a>
											<a href="">1天内</a>
											<a href="">1周内</a>
											<a href="">1个月内</a>
											<a href="">一年内</a>
										</dd>
									</dl>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="main_body">
				<div id="main_left">
					<ul>

						<volist name="Articallist" id="vo">

					<li>
						<empty name="vo.indeximgpath">
							<a href="__MODULE__/essay/essay/id/{$vo.ariticalid}" class="userAImg"><img src="__PUBLIC__/upload/ArticalIndexImg/defaultImg.jpg" alt="" width="260px" height="auto" /></a>
						<else />
						<a href="__MODULE__/essay/essay/id/{$vo.ariticalid}" class="userAImg">
							<img src="__PUBLIC__/{$vo.indeximgpath}" alt="" width="260px" height="auto" />
						</a>
						</empty>

						<div class="userAInfo" style="padding:0px 10px 10px 10px;box-sizing: border-box;">
							<div class="userATitle" style="margin-top: 8px;">
									<a href="__MODULE__/essay/essay/id/{$vo.ariticalid}">
										{$vo.title}

									</a>
							</div>
							<div class="userAupTime" style="margin: 8px 0 0 0;"><span class="userA_Name" style="color:pink;">{$vo.username}</span> /
								<span style="color:brown;">{$vo.createtime|substr=0,10}</span>
								<span style="font-size: 14px;">&nbsp;&nbsp;&nbsp;人气:</span><span class="works-like"  style="font-size: 14px;">&nbsp;&nbsp;{$vo.clicknum} &nbsp;</span>
							</div>
							<div  class="sortCo" style="margin-top: 8px;font-size: 12px;">
								<span style="color:orange;">
									<?php if( $vo['articaltype'] == 1)
										{  echo '原创教程';  }
										 else if( $vo['articaltype'] == 2)
										{  echo '观点/见解';  }
										else if( $vo['articaltype'] == 3)
										{  echo '设计资讯';  }
										else
										{  echo '其他';  }
										?>
								</span>
							</div>

							<span class="userAintro" style="width: 100%;font-size: 18px;margin-top: 8px;">
								{$vo.intro|htmlspecialchars_decode}
							</span>
						</div>
					</li>

					</volist>
					</ul>
				</div>
				<div id="main_right">
					<div  id="main_right_title">
						本周热门文章
					</div>
					<div  id="main_right_container">
						<ul>
							<volist name='artrange' id="vo">
							<li>
								<a href="__MODULE__/essay/essay/id/{$vo.ariticalid}">
									<img src="__PUBLIC__/{$vo.indeximgpath}" /> </a>
								<div>
									<p>{$vo.title}</p>
									<p>人气: <span style="color:red">{$vo.clicknum}</span></p>
								</div>
							</li>
							</volist>
						</ul>
					</div>
				</div>
			</div>

		</div>
<include file="Public/footer" title="Index" />