<include file="Public/header" title="Index" />
<link href="__HomeCSS__/essay.css" rel="stylesheet" type="text/css" />
		<div class="body">

		<div id="main">
			<div id="main_head">
				Hi，看了童鞋们的设计文章涨姿势了吗？马上&nbsp;<a href="{:U('User/pshWorksPag')}">上传一篇</a>&nbsp;你的原创文章，和大家一起分享吧！
			</div>
			<div class="borderTop">
				<table width="100%">
					<tbody>
						<tr>
							<td>
								<div class="sort">
									<dl>
										<dt>类别：</dt>
										<dd>
											<a href="" class="select">原创教程</a>
											<a href="">设计资讯</a>
											<a href="">小伙伴观点/经验</a>
										</dd>

									</dl>
									<dl>
										<dt>排序：</dt>
										<dd>
											<a href="" class="select">上传时间</a>
											<a href="">推荐最多</a>
											<a href="">人气最高</a>
											<a href="">评论最多</a>
										</dd>
									</dl>
									<dl>
										<dt>时间：</dt>
										<dd>
											<a href="" class="select">不限</a>
											<a href="">1天内</a>
											<a href="">1周内</a>
											<a href="">1个月内</a>
											<a href="">一年内</a>
										</dd>
									</dl>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="main_body">
				<div id="main_left">
					<ul>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/1.png" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">最终，你成为了具有“独立思考”能力的人</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 小伙伴经验</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									人天生就渴求信息，像需要空气和水一样。信息也的确像空气和水一样包裹着我们.我
									们吸入，我们呼出.我们无法造一个玻璃盒子来屏蔽这一切.只能身处于这个庞大的体系
									中,慢慢找到真实的自己.
								</div>
							</div>
						</li>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/2.jpg" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">矢量骷髅兵插画简易教程</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 原创教程</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									因酷友对矢量插画都比较感兴趣，上次出完视频后还有很多人想了解，所以这次为大家在制作一个小视频，欢迎大家一起来探讨。
									由于经验不足，录制视频的时候声音不是特别的好，望大家见谅
								</div>
							</div>
						</li>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/1.png" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">最终，你成为了具有“独立思考”能力的人</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 小伙伴经验</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									人天生就渴求信息，像需要空气和水一样。信息也的确像空气和水一样包裹着我们.我
									们吸入，我们呼出.我们无法造一个玻璃盒子来屏蔽这一切.只能身处于这个庞大的体系
									中,慢慢找到真实的自己.
								</div>
							</div>
						</li>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/2.jpg" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">矢量骷髅兵插画简易教程</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 原创教程</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									因酷友对矢量插画都比较感兴趣，上次出完视频后还有很多人想了解，所以这次为大家在制作一个小视频，欢迎大家一起来探讨。
									由于经验不足，录制视频的时候声音不是特别的好，望大家见谅
								</div>
							</div>
						</li>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/1.png" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">最终，你成为了具有“独立思考”能力的人</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 小伙伴经验</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									人天生就渴求信息，像需要空气和水一样。信息也的确像空气和水一样包裹着我们.我
									们吸入，我们呼出.我们无法造一个玻璃盒子来屏蔽这一切.只能身处于这个庞大的体系
									中,慢慢找到真实的自己.
								</div>
							</div>
						</li>
						<li>
							<a href="" class="userAImg"><img src="__HomeIMG__/essay/2.jpg" alt="" /></a>
							<div class="userAInfo">
								<div class="userATitle">
										<a href="">矢量骷髅兵插画简易教程</a>
								</div>
								<div  class="sortCo">
									<span>设计文章</span>
									<span> - 原创教程</span>
								</div>
								<div class="userAupTime">2小时前上传 / <span class="cf30">201</span> 人气/ <span class="cf30">16</span> 评论 </div>
								<div class="userAintro">
									因酷友对矢量插画都比较感兴趣，上次出完视频后还有很多人想了解，所以这次为大家在制作一个小视频，欢迎大家一起来探讨。
									由于经验不足，录制视频的时候声音不是特别的好，望大家见谅
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div id="main_right">
					<div  id="main_right_title">
						本周热门文章
					</div>
					<div  id="main_right_container">
						<ul>
							<li>
								<a href=""><img src="__HomeIMG__/essay/3.jpg" alt="枯水生 - 东方风格的UI"/> </a>
								<div>
									<p>枯水生 - 东方风格的UI</p>
									<p>人气: <span style="color:red">2650</span></p>
								</div>
							</li>
							<li>
								<a href=""><img src="__HomeIMG__/essay/2.jpg"/> </a>
								<div>
									<p>2016-设计大事件</p>
									<p>人气: <span style="color:red">2650</span></p>
								</div>
							</li>
							<li>
								<a href=""><img src="__HomeIMG__/essay/1.png"/> </a>
								<div>
									<p>【字言字语】设计中常用的手写体总结</p>
									<p>人气: <span style="color:red">2650</span></p>
								</div>
							</li>
							<li>
								<a href=""><img src="__HomeIMG__/essay/3.jpg"/> </a>
								<div>
									<p >最新研发——设计师防窥神器，打造全新工作体验！</p>
									<p>人气: <span style="color:red">2650</span></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
<include file="Public/footer" title="Index" />