* {
	margin: 0;
	padding: 0;
}

a:hover {
	background: none;
}

input {
	border: none;
	outline: none;
}

#body {
	width: 100%;
}

#container {
	right: 0px;
	top: 0px;
	min-width: 960px;
	margin: auto;
	background-color: #fff;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}

.container-min-width {
	width: 100%;
	min-width: 960px;
	margin: auto;
	background-color: #fff;
}



.dynamic {
	width: 100%;
	right: 0px;
	top: 0px;
	height: 400px;
	padding: 0px;
	background: url(../image/index/bg0.jpg) no-repeat left top;
	background-size: 100%;
	text-align: center;
}

.dynamic_1 {
	width: 90%;
	padding-top: 7%;
	height: 35%;
	margin: auto;
}

.d_left {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
}

.d_head {
	width: 20%;
	height: 100%;
	float: left;
	position: relative;

}
.d_head img{
	border:6px solid white;
	border-radius: 90px;
	}
.d_right {
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
}

.more {
	width: 30%;
	height: 30%;
	float: right;
}

.more_1 {
	background: url(../image/personal/person_1.png) no-repeat;
	float: right;
}

.dynamic_2 {
	width: 100%;
	float: bottom;
	height: 40%;
	margin: auto;
	background-color: #fff;
}

.info {}

.nice {
	height: 20px;
	width: 1000px;
	border-style: none;
	margin: auto;
}

.nice_left,
.nice_right {
	height: 22px;
	width: 1000px;
	border-radius: 5px;
}

.gonggao {
	float: left;
}

.text_gonggao {
	text-decoration: none;
	font-size: 14px;
	font-weight: lighter;
	color: #666;
}

.dianji {
	height: 20px;
	width: 25px;
	float: right;
	margin-left: 10px;
	margin-top: 5px;
	border-style: none;
	background: url(../image/index/top.png) no-repeat;
}

.kind {
	height: 120px;
	background-color: #eee;
	margin-top: 10px;
	border-style: none;
}

.kind_1 {
	width: 10%;
	height: 80px;
	float: left;
	text-align: center;
	position: relative;
}

.kind_img {
	position: center;
	margin-top: 30%;
}

.kind_2 {
	width: 10%;
	height: 40px;
	float: left;
	text-align: center;
	position: relative;
}

.kind_text {
	position: center;
	margin-top: 20%;
	font-size: 14px;
	font-weight: lighter;
	color: #666;
	text-decoration: none;
}

.recommend-line {
	position: relative;
	padding: 0px 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	font-size: 14px;
	color: #B4B4B4;
}

.recommend-line>a:hover {
	text-decoration: none;
	display: inline-block;
	font-family: 微软雅黑;
}

.recommend-line::before {
	left: 0px;
	display: block;
	position: absolute;
	top: 28px;
	width: 44%;
	content: "";
	border-top: 1px solid #D7D7D7;
	z-index: ;
}

.recommend-line::after {
	right: 0px;
	display: block;
	position: absolute;
	top: 28px;
	width: 44%;
	content: "";
	border-top: 1px solid #D7D7D7;
	z-index: ;
}

.category {
	height: auto;
	text-align: center;
	border-style: none;
	background-color: #fff;
}

.c_box {
	width: 100%;
	height: 70px;
	background-color: #fff;
	box-shadow: 0 1px 1px 3px #eee;
	text-align: center;
	margin: auto;
}

.c_title {
	width: 50%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	margin: auto;
}

.t_1 {
	width: 20%;
	height: 100%;
	background-color: #fff;
	float: left;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-style: none;
}

.c_btn {
	width: 100%;
	border: solid 0px #097769;
	border-right-color: #454567;
	height: 50%;
	margin-top: 5%;
	background-color: #fff;
	font-size: 16px;
	font-weight: bolder;
	color: #8e8e8e;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

.c_text {
	width: 100%;
	float: top;
	color: #aaa;
	font-size: 12px;
	font-weight: lighter;
}

.c_img1 {
	margin-left: 0;
	position: relative;
}

.c_img2 {
	margin-left: 80px;
	position: relative;
}

.c_img3 {
	margin-left: 160px;
	position: relative;
}

.c_img4 {
	margin-left: 240px;
	position: relative;
}

#layer1 {
	width: 100%;
	text-align: center;
}

.layer_left {
	width: 16%;
	float: left;
	margin-left:18%;
	margin-top: 2%;
	background-color: #fff;
	box-shadow: 0 3px 1px 1px #ddd;
	border-radius: 3%;
}

.save {
	width: 100%;
	height: 50px;
	background-color: #fff;
}

.s_cancle {
	background-color: #ccc;
	width: 50%;
	height: 50px;
	float: left;
	position: relative;
	border: none;
	color: #555;
	font-size: 14px;
	box-shadow: 0 3px 1px 1px #ddd;
	cursor: pointer;
}

.s_save {
	background-color: #e52938;
	width: 50%;
	height: 50px;
	float: left;
	position: relative;
	border: none;
	color: #fff;
	font-size: 14px;
	box-shadow: 0 3px 1px 1px #aaa;
	cursor: pointer;
}



.option {
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #8e8e8e;
	font-size: 14px;
	cursor: pointer;
}

.option:hover,
.option:focus,
.option.disabled,
.option[disabled] {
	color: #aaa;
	background-color: #f5f5f5;
}

.option_1 {
	width: 30%;
	height: 100%;
	float: left;
	position: relative;
}

.option_2 {
	height: 100%;
	float: left;
	position: relative;
	text-align: left;
	border: none;
}

.layer_right {
	width:45%;
	float: right;
	margin-right:18%;
	position: relative;
	margin-top: 2%;
	border-radius: 5px 5px 5px 5px;
}

.r_1 {
	width: 100%;
	box-shadow: 0 3px 1px 1px #ddd;
	background-color: #fff;
	border-radius: 8px;
}

.r_title {
	width: 100%;
	height:60px;
	text-align: left;
	font-size:1.6rem;
	font-weight: 800;
	background-color: #f4f4f4;
	line-height: 60px;

}

.r_form {
	width: 100%;
	height: 60px;
	border-bottom:1px solid #ddd;
	background-color: #fff;
	line-height: 60px;
}

.f_left {
	width: 16%;
	height: 100%;
	float: left;
	position: relative;
	font-size: 20px;
	background-color: #fff;
	color: #5e5e5e;
	text-align: right;

}

.f_right {
	width: 80%;
	height: 60px;
	float: left;
	color: #5e5e5e;
	text-align: left;
	font-size: 14px;
	line-height: 60px;
	background-color: #fff;
}
.f_right input[class="f_text"]{
	height:40px;
	background: #f4f4f4;
	border:none;
	width: 50%;
	padding-left:10px;
}
.f_right img{
	vertical-align: middle;
}
input[class="f_touxiang"] {
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}
.area_text {
	width: 25%;
	height: 40px;
	padding-left: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px #ccc solid;
	background-color: #eee;
	color: #5e5e5e;
	font-size: 14px;
}

.f_text {
	width: 85%;
	height: 40%;
	border-radius: 5px;
	border: 1px #ccc solid;
	background-color: #eee;
}

#zhiwei {
	width: 25%;
	height: 30px;
	border-radius: 4px;
	border: 1px #ccc solid;
	background-color: #eee;
	color: #5e5e5e;
	font-size: 14px;
}

#area {
	width: 25%;
	height: 30px;
	border-radius: 4px;
	border: 1px #ccc solid;
	background-color: #eee;
	color: #5e5e5e;
	font-size: 14px;
}

#content {
	width: 85%;
	height:80px;
	background-color: #eee;
	border: none;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
	resize: vertical;
	color: #aaa;
	font-size: 18px;
	resize: none;
	margin-top:5px;
}

.clear {
	clear: both;
}

div#notices {
	text-align: justify;
	padding:20px;
}
div#notices ul li{
	width: 100%;
	border:1px solid rgb(200,200,200);
	border-radius: 4px;
	margin-bottom:20px;
}
div#notices ul li div.NameTime{
	padding:10px 20px;
	border-bottom: 1px solid rgb(200,200,200);
}
div#notices ul li div.NameTime span.MesName{
	display: inline-block;
	text-align:left;
}
div#notices ul li div.NameTime span.MesTime{
	display:inline-block;
	width: 90%;
	text-align:right;
}
div#notices ul li div.content{
	padding:20px;
}
