#container{
    right:0px;
    top:0px;
  
    margin:auto;
    background-color: #fff;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.container-min-width {
   
    min-width: 960px;
    margin:auto;
    background-color: #fff;
}

.work
{
  
  width:200px;
  height:380px;
  background-color: #fff;
  border-radius:5px;
  box-shadow: 0px 3px 3px 0px #aaa ;
  float:left;
  
  margin:auto;
  margin-left:1.5%;
  margin-top:2.5%;


}

.work_img
{
  width:200px;
  height:250px;
  border-radius:5px 5px 0 0;
  float:top;
}

.likepin{
  float:right;
  float:top;
  height:50px;
  width:100px;
  background-color: #aaa;
}

.work_title
{
  width:200px;
  height:70px;
  border-radius:0px 0px 0 0;
  float:top;
  text-align: center;
  border-bottom: #ccc 0.5px solid;
}

.title_1
{
  text-align: left;
  margin-top: 5px;
  height:25px;
  border-radius:0px 0px 0 0;
  
}

.title_2
{
  text-align: left;
  
  height:20px;
  border-radius:0px 0px 0 0;
  
}

.title_3
{
  text-align: left;
  margin-left: 10px;
  height:20px;
  border-radius:0px 0px 0 0;
  
  
}

.p_1
{
  width:50px;
  height:50px;
  float:left;
  position:relative;
}

.p_2
{
  width:80px;
  height:40px;
  float:left;
  position:relative;
  text-align: left;
  margin-top: 5px;
  border-right: #ccc 0.5px solid;
}

.p_3
{
  width:50px;
  height:30px;
  margin-top: 10px;
  float:left;
  position:relative;
}

.likepin{
  float:right;
  float:top;
  height:250px;
  width:200px;
  background:url(../image/index/like_bg.png);
  
}

.like_1
{
  width:40px;
  height:40px;
  float:left;
  float:top;
  margin-top: 10px;
  margin-left: 10px;
  background:url(../image/index/pin.png) no-repeat;
  background-color: #543122;
  border-radius: 20px;
  border:none;
  opacity:1;
  box-shadow: 1px 1px 3px 0px #2a2a2a;
}

.like_2
{
  width:40px;
  height:40px;
  float:left;
  float:top;
  margin-top: 10px;
  margin-left: 10px;
  background:url(../image/index/like.png) no-repeat;
  background-color: #543122;
  border-radius: 20px;
  border:none;
  opacity:1;
  box-shadow: 1px 1px 3px 0px #2a2a2a;
}

.like_3
{
  width:40px;
  height:40px;
  float:left;
  float:top;
  margin-top: 10px;
  margin-left: 10px;
  background:url(../image/index/share.png) no-repeat;
  background-color: #543122;
  border-radius: 20px;
  border:none;
  opacity:1;
  box-shadow: 1px 1px 3px 0px #2a2a2a;
}

.clear{
    clear:both;
}

