<include file="Public/header" title="后台主页" />
<div style="margin-left:180px;padding:15px;">
		<div class="jumbotron" style="padding: 30px;">
			<h1>欢迎：Admin</h1>

			<p>这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.</p>

		</div>

    <div class="row" style="margin-left:0;">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <i class="fa  fa-comment fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <p class="announcement-heading">456</p>
                            <p class="announcement-text">留言</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                查看留言
                            </div>
                            <div class="col-xs-6 text-center">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <p class="announcement-heading">12</p>
                            <p class="announcement-text">用户</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                管理用户
                            </div>
                           <div class="col-xs-6 text-center">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <i class="fa fa-edit fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <p class="announcement-heading">18</p>
                            <p class="announcement-text">文章</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                管理文章
                            </div>
                            <div class="col-xs-6 text-center">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <i class="fa fa-link fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-center">
                            <p class="announcement-heading">56</p>
                            <p class="announcement-text">作品</p>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                管理链接
                            </div>
                            <div class="col-xs-6 text-center">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>