<include file="Public/header" title="Index" />
<link href="__HomeCSS__/about.css" rel="stylesheet" type="text/css" />

			<script type="text/javascript">
function chanshaomin(){
    document.getElementById("a1").style.display="block";
     document.getElementById("a2").style.display="none";
      document.getElementById("a3").style.display="none";
       document.getElementById("a4").style.display="none";
}
function liuzeshan(){
    document.getElementById("a1").style.display="none";
     document.getElementById("a2").style.display="block";
      document.getElementById("a3").style.display="none";
       document.getElementById("a4").style.display="none";
}
function wuxin(){
    document.getElementById("a1").style.display="none";
     document.getElementById("a2").style.display="none";
      document.getElementById("a3").style.display="block";
       document.getElementById("a4").style.display="none";
}
function yanghaiqiang(){
    document.getElementById("a1").style.display="none";
     document.getElementById("a2").style.display="none";
      document.getElementById("a3").style.display="none";
       document.getElementById("a4").style.display="block";
}

  </script>
			<div id="banner">
				<img src="__HomeIMG__/about/lize.jpg" width="100%" height="550px"/>
			</div>

			<div id="main">

				<div class="impor">
					<div class="title2">
						<div class="picture" onmouseover="chanshaomin()"><img src="__HomeIMG__/about/a1.png">
							<p>后台小能手</p>
						</div>
						<div class="picture" onmouseover="liuzeshan()"><img src="__HomeIMG__/about/a2.png">
							<p>深圳小魔女</p>
						</div>
						<div class="picture" onmouseover="wuxin()"><img src="__HomeIMG__/about/a4.png">
							<p>我是无心</p>
						</div>
						<div class="picture" onmouseover="yanghaiqiang()"><img src="__HomeIMG__/about/a3.png">
							<p>技术担当</p>
						</div>
					</div>
				</div>

				<div class="article0">
					<div class="article1" id="a1">
						<div class="left"><img src="__HomeIMG__/about/cm_user_home.jpg"></div>
						<div class="middle">
							<h2>陈少敏</h2>
							<hr>
							<p>数字媒体技术大三的小鲜肉，单身，擅长于后台的搭建，是一个比较典型的吃货，最喜欢烧仙草</p>
						</div>
						<div class="right">
							<div class="big"><img src="__HomeIMG__/about/t1.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t2.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t3.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t4.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t5.jpg"></div>
						</div>
					</div>

					<div class="article1" id="a2">
						<div class="left"><img src="__HomeIMG__/about/cm_user_gift.jpg"></div>
						<div class="middle">
							<h2>刘泽珊</h2>
							<hr>
							<p>数字媒体技术的童鞋，来自深圳的一位小魔女，擅长于画画，爱吃爱笑爱玩，哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
						</div>
						<div class="right">
							<div class="big"><img src="__HomeIMG__/about/t1.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t2.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t3.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t4.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t5.jpg"></div>
						</div>
					</div>

					<div class="article1" id="a3">
						<div class="left"><img src="__HomeIMG__/about/cm_user_foods.jpg"></div>
						<div class="middle">
							<h2>吴欣</h2>
							<hr>
							<p>数字媒体技术的童鞋，别名就是无心，哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
						</div>
						<div class="right">
							<div class="big"><img src="__HomeIMG__/about/t1.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t2.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t3.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t4.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t5.jpg"></div>
						</div>
					</div>

					<div class="article1" id="a4">
						<div class="left"><img src="__HomeIMG__/about/cm_user_nicepic.jpg"></div>
						<div class="middle">
							<h2>杨海强</h2>
							<hr>
							<p>数字媒体技术大三的小鲜肉，班级的好男银，哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
						</div>
						<div class="right">
							<div class="big"><img src="__HomeIMG__/about/t1.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t2.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t3.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t4.jpg"></div>
							<div class="small"><img src="__HomeIMG__/about/t5.jpg"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
<include file="Public/footer" title="Index" />