<include file="Public/header" title="Login" />
<link href="__HomeCSS__/loginAndRegister.css" rel="stylesheet" media="all" />
		<div id="logReg">
			<div class="LGbtn">
				<a href="{:U('User/loginPage')}"><span id="Lbtn" class="Lbtn">登录</span></a>
				<a href="{:U('User/register')}"><span id="Rbtn" class="Rbtn">注册</span></a>
			</div>
			<div class="LoginMain">
				<form action="{:U('User/login')}" onsubmit="return submit_login()" method="post">
					<input type="text" value="admin123" id="login_un" name="login_un" placeholder="用户名" required="required" onblur="check_login(this)" />
					<input type="password" id="login_pwd" value="admin123"  name="login_pwd" placeholder="密码" required="required"  onblur="check_login_pwd(this)" />
					<div>
						<p id="Rem-login"><input type="checkbox" name="checkbox" id="un-login" class="un-login" /><label for="un-login">记住密码</label></p>
						<span class="FindPwd"><a href="">忘记密码?</a></span>
					</div>
					<div style="clear: both;"></div>
					<div id="RemiLMes"></div>
					<input type="submit" value="登  录" /></form>
			</div>
			<div class="clear"></div>
		</div>

	</body>
</html>