<include file="Public/header" title="Index" />
<link href="__HomeCSS__/recruit.css" rel="stylesheet" type="text/css" />
<link href="__HomeCSS__/lunbo.css" rel="stylesheet" type="text/css" />

			<script language="JavaScript">
				var s1 = 0;
				var s2 = 0;

				function show1() {
					if (s1 == 0) {
						document.getElementById('hangye').style.display = "block";
						s1 = 1;
					} else {
						document.getElementById('hangye').style.display = "none";
						s1 = 0;
					}
				}

				function show2() {
					if (s2 == 0) {
						document.getElementById('diqu').style.display = "block";
						s2 = 1;
					} else {
						document.getElementById('diqu').style.display = "none";
						s2 = 0;
					}
				}
			</script>
			<!--内容主题 -->
			<div id="job_main">
				<div class="left_200">
					<div class="seletion_1">
						<div onmouseover="show1()" onmouseout="show1()">
							<a href="">行业选择<i></i></a>
							<ul id="hangye">
								<li><a href="">互联网</a></li>
								<li><a href="">游戏</a></li>
								<li><a href="">软件开发</a></li>
								<li><a href="">电子商务</a></li>
								<li><a href="">影视媒体</a></li>
								<li><a href="">摄像摄影</a></li>
							</ul>
						</div>
						<div onmouseover="show2()" onmouseout="show2()">
							<a href="">地区选择<i></i></a>
							<ul id="diqu">
								<li><a href="">北京</a></li>
								<li><a href="">深圳</a></li>
								<li><a href="">上海</a></li>
								<li><a href="">广东</a></li>
								<li><a href="">浙江</a></li>
								<li><a href="">广州</a></li>
							</ul>
						</div>
					</div>

					<ul>
						<li><a href="">网页方向</a></li>
						<li><a href="">交互方向</a></li>
						<li><a href="">平面方向</a></li>
						<li><a href="">3D方向</a></li>
						<li><a href="">原画方向</a></li>
						<li><a href="">插画方向</a></li>
					</ul>
				</div>
				<div class="middle_760">

					<div id="rt-showcase" class="slider-container rt-overlay-dark">
						<div class="rt-container slider-container">
							<div class="rt-grid-12 rt-alpha rt-omega">
								<div class="csslider1 autoplay">
									<input name="cs_anchor1" autocomplete="off" id="cs_slide1_0" type="radio" class="cs_anchor slide">
									<input name="cs_anchor1" autocomplete="off" id="cs_slide1_1" type="radio" class="cs_anchor slide">
									<input name="cs_anchor1" autocomplete="off" id="cs_slide1_2" type="radio" class="cs_anchor slide">
									<input name="cs_anchor1" autocomplete="off" id="cs_play1" type="radio" class="cs_anchor" checked>
									<input name="cs_anchor1" autocomplete="off" id="cs_pause1" type="radio" class="cs_anchor">
									<ul>
										<div style="width: 100%;height:300px;font-size: 0px; line-height: 0;">
											<img src="__HomeIMG__/job/1.jpg" style="width: 100%;">
										</div>
										<li class="num0 img">
											<img src="__HomeIMG__/job/1.jpg" alt="Clouds" title="Clouds" />
										</li>
										<li class="num1 img">
											<img src="__HomeIMG__/job/2.jpg" alt="Typewriter" title="Typewriter" />
										</li>
										<li class="num2 img">
											<img src="__HomeIMG__/job/3.jpg" alt="Bicycle" title="Bicycle" />
										</li>

									</ul>

									<div class="cs_arrowprev">
										<label class="num0" for="cs_slide1_0"></label>
										<label class="num1" for="cs_slide1_1"></label>
										<label class="num2" for="cs_slide1_2"></label>
									</div>
									<div class="cs_arrownext">
										<label class="num0" for="cs_slide1_0"></label>
										<label class="num1" for="cs_slide1_1"></label>
										<label class="num2" for="cs_slide1_2"></label>
									</div>

								</div>

							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div id="job_list">
						<div class="job_list_title">
							最新招聘
						</div>
						<div id="zuixinzhaopin">
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/1.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/2.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/3.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/1.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div><div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/2.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/3.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
							<div class="zxzpitem">
								<a href="" class="item_link"></a>
								<div class="pic_box">
									<a href=""><img src="__HomeIMG__/job/1.jpg" alt="" /></a>
								</div>
								<div class="text_box">
									<p class="title_bar">
									<span class="title1">守望者设计-深圳 招 </span>
									<span class="title2">高级视觉设计师</span>
									</p>
									<p class="salary_bar">
									<span class="c-999">月薪:</span>
									<strong>10K-16K</strong>
									</p>
									<p class="scale_bar">
										广告 / 公关 / 会展  规模:1-50人
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
<include file="Public/footer" title="Index" />