<!DOCTYPE html>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Publish大学生作品分享平台</title>
    <link href="__HomeCSS__/websjy.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__HomeJS__/websjy.js"></script>
    <script src="__HomeJS__/jquery-1.11.1.min.js"></script>
    <script src="__HomeJS__/js.js"></script>
    <link href="__HomeCSS__/index.css" rel="stylesheet" media="all"/>


    <style type="text/css">
        div.nice_right {
            display: none;
        }

        input {
            border: none;
            outline: none;
        }
    </style>
    <script>
        var i = 1;
        function showM() {
            if (i == 1) {
                $("#mean2").show();
                i = 0;
            }
            else if (i == 0) {
                $("#mean2").hide();
                i = 1;
            }
        }
        var j = 1;
        function showLogin() {
            if (j == 1) {
                $("#LoginMean").show();
                j = 0;
            }
            else if (j == 0) {
                $("#LoginMean").hide();
                j = 1;
            }
        }
    </script>
</head>

<body>
<div id="container" class="container-min-width">
    <div id="header">
        <div class="menu-bar">

            <div class="left-part">
                <a class="logo" href="{:U('Index/index')}"><img src="__HomeIMG__/index/logo.png" alt=""/></a>
            </div>
            <form id="form1" method="get" action="{:U('Public/SearchArt')}" style="height:100%;float: left;">
                <div class="middle-part">

                        <div class="middle_s">
                            <input type="text" name="seaid" placeholder="搜索你喜欢的作品" id="artname"/>
                            <input type="submit" value="搜索" id="searchingbtn"/>
                        </div>

                </div>
            </form>
            <div class="right-part">
                <div class="title">

							<span name="outA" href="#" id="btn_1">
								<div type="button" id="btn11" onclick="showM();">作品</div>
								<ul id="mean2">
									<a href="__MODULE__/Works/showList/type/1"><li>UI/UX</li></a>
									<a href="__MODULE__/Works/showList/type/2"><li>平面设计</li></a>
									<a href="__MODULE__/Works/showList/type/3"><li>漫画/插画</li></a>
									<a href=""><li>网页设计</li></a>
									<a href=""><li>3D模型</li></a>
									<a href=""><li>创意短片</li></a>
									<a href=""><li>摄影</li></a>
									<a href=""><li>其他</li></a>
								</ul>
							</span>
                    <a name="outA" href="{:U('Essay/index')}" id="btn_1">
                        <div type="button" class="btn" id="btn11" value="文章">文章</div>
                    </a>
                    <a name="outA" href="{:U('Ksq/index')}">
                        <div type="button" class="btn" id="btn3" value="口水区">口水区</div>
                    </a>
                    <a name="outA" href="{:U('Zhaop/index')}">
                        <div type="button" class="btn" id="btn4" value="招聘">招聘</div>
                    </a>
                    <a name="outA" href="{:U('About/index')}">
                        <div type="button" class="btn" id="btn5" value="关于我们">关于我们</div>
                    </a>

                </div>
                <script>

                </script>
                <div class="login">
                    <div id="loginAndLO" onclick="showLogin()" style="float: left;"><img
                            src="__HomeIMG__/index/user.png" width="18px" style="margin-left:18px;"/>
                        <ul id="LoginMean" style="display: none;">
                            <?php if(empty(session('userInfo'))){?>
                            <li><a href="__ROOT__/index.php/Home/User/loginPage">登录</a></li>
                            <?php }else{?>
                            <li><a href="__ROOT__/index.php/Home/User/personal">个人中心</a></li>
                            <li><a href="__ROOT__/index.php/Home/User/logout">退出登录</a></li>
                            <?php }?>
                        </ul>
                    </div>
                    <a href="{:U('User/pshWorksPag')}"><img src="__HomeIMG__/index/add.png" width="18px"
                                                            style="margin-left:18px;"/></a>
                    <!--<img src="__HomeIMG__/index/more.png" style="cursor:pointer;margin-left:10px;width:12px;" onclick="openShutManager2(this,'box2',false)" />-->

                </div>
            </div>

        </div>
    </div>
</div>
