<include file="Public/header" title="Index" />
<link href="__HomeCSS__/word.css" rel="stylesheet" type="text/css" />

 <div class="Search">
    		<div class="search-area container ">
                <p style="padding-top:100px;letter-spacing:18px;font-size:40px; color:#434345;" >口水区，欢迎你</p>
                <p style="margin-top:24px;font-size:20px; color:#434345;">有问题，有话说，有时间，你都可以来这里！</p>

            </div>

 </div>
 <div class="take">
  				<form id="searchform " class="in"  method="get " action="# " style="height:143px;margin-bottom:20px;">
                    <input class="search-term required"  style="width:800px;height:45px;margin-top:20px;padding-left:35px;" type="text " id="s " name="s " placeholder="请输入你想说的 " title="* Please enter a search term! "/>
                    <input class="search-btn "  style="width:70px;height:40px;margin-top:46px;text-align:center;" type="submit " value="发送 " />

                </form>
 </div>
     <div class ="main4">
     <div class="leftpart">
    <p>话题分类</p>
     <div id="trid">
     <ul>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">学校生活</a> </li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">八卦新闻</a></li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">闲谈闲聊</a></li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">失物招领</a></li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">比赛宣传</a></li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">寻求伙伴</a></li>
       <hr>
       <li><img src="__HomeIMG__/word/standard.png"alt=""><a href="# " title="Lorem ipsum dolor sit amet, ">寻找兼职</a></li>
       <hr>
     </ul>
     </div>
     </div>
     <div class="rightpart">
        <article class="format-standard type-post hentry clearfix " style="padding-left:50px;padding-top:38px;padding-bottom:25px;height:auto;background:white;margin-top:5px;">

           <header class="clearfix ">

               <h3 class="post-title ">
               <a href="detailed.html" style="sincolor: #814e51;color: #814e51; ">北师珠有什么美食吗，求介绍？</a>
                </h3>

               <div class="post-meta clearfix ">
                   <span class="date"style="color:#814e51;">2 4月, 2016</span>
                   <span class="category "><a href="# " title="View all posts in Server &amp; Database " >美食 &amp; 北师珠</a></span>
                   <span class="comments " ><a href="# " title="Comment on Integrating WordPress with Your Website " >3 回复</a></span>
                   <span class="like-count ">66</span>
               </div>


           </header>

           <p style="width:700px;margin-left:35px;">北师珠最美的山谷学校，不但有颜值，而且还有美食，有详细的介绍吗？<br><a class="readmore-link " href=" "style="color:#814e51">...更多</a></p>

    </article>

     <article class="format-standard type-post hentry clearfix " style="padding-left:50px;padding-top:38px;padding-bottom:25px;height:auto;background:white;margin-top:5px;">

           <header class="clearfix ">

               <h3 class="post-title ">
               <a href="detailed.html" style="sincolor: #814e51;color: #814e51; ">北师珠有什么美食吗，求介绍？</a>
                </h3>

               <div class="post-meta clearfix ">
                   <span class="date"style="color:#814e51;">2 4月, 2016</span>
                   <span class="category "><a href="# " title="View all posts in Server &amp; Database " >美食 &amp; 北师珠</a></span>
                   <span class="comments " ><a href="# " title="Comment on Integrating WordPress with Your Website " >3 回复</a></span>
                   <span class="like-count ">66</span>
               </div>


           </header>

           <p style="width:700px;margin-left:35px;">北师珠最美的山谷学校，不但有颜值，而且还有美食，有详细的介绍吗？<br><a class="readmore-link " href=" "style="color:#814e51">...更多</a></p>

    </article>


     <article class="format-standard type-post hentry clearfix " style="padding-left:50px;padding-top:38px;padding-bottom:25px;height:auto;background:white;margin-top:5px;">

           <header class="clearfix ">

               <h3 class="post-title ">
               <a href="detailed.html" style="sincolor: #814e51;color: #814e51; " >北师珠有什么美食吗，求介绍？</a>
                </h3>

               <div class="post-meta clearfix ">
                   <span class="date">2 4月, 2016</span>
                   <span class="category "><a href="# " title="View all posts in Server &amp; Database ">美食 &amp; 北师珠</a></span>
                   <span class="comments " ><a href="# " title="Comment on Integrating WordPress with Your Website " >3 回复</a></span>
                   <span class="like-count ">66</span>
               </div>


           </header>

           <p style="width:700px;margin-left:35px;">北师珠最美的山谷学校，不但有颜值，而且还有美食，有详细的介绍吗？<br><a class="readmore-link " href=" "style="color:#814e51">...更多</a></p>

    </article>
 <article class="format-standard type-post hentry clearfix " style="padding-left:50px;padding-top:38px;padding-bottom:25px;height:auto;background:white;margin-top:5px;">

           <header class="clearfix ">

               <h3 class="post-title ">
               <a href="detailed.html" style="sincolor: #814e51;color: #814e51; ">北师珠有什么美食吗，求介绍？</a>
                </h3>

               <div class="post-meta clearfix ">
                   <span class="date"style="color:#814e51;">2 4月, 2016</span>
                   <span class="category "><a href="# " title="View all posts in Server &amp; Database " >美食 &amp; 北师珠</a></span>
                   <span class="comments " ><a href="# " title="Comment on Integrating WordPress with Your Website " >3 回复</a></span>
                   <span class="like-count ">66</span>
               </div>


           </header>

           <p style="width:700px;margin-left:35px;">北师珠最美的山谷学校，不但有颜值，而且还有美食，有详细的介绍吗？<br><a class="readmore-link " href=" "style="color:#814e51">...更多</a></p>

    </article>


        <article class="format-standard type-post hentry clearfix " style="padding-left:50px;padding-top:38px;padding-bottom:25px;height:auto;background:white;margin-top:5px;">

           <header class="clearfix ">

               <h3 class="post-title ">
               <a href="detailed.html" style="sincolor: #814e51;color: #814e51; ">北师珠有什么美食吗，求介绍？</a>
                </h3>

               <div class="post-meta clearfix ">
                   <span class="date"style="color:#814e51;">2 4月, 2016</span>
                   <span class="category "><a href="# " title="View all posts in Server &amp; Database " >美食 &amp; 北师珠</a></span>
                   <span class="comments " ><a href="# " title="Comment on Integrating WordPress with Your Website " >3 回复</a></span>
                   <span class="like-count ">66</span>
               </div>


           </header>

           <p style="width:700px;margin-left:35px;">北师珠最美的山谷学校，不但有颜值，而且还有美食，有详细的介绍吗？<br><a class="readmore-link " href=" "style="color:#814e51">...更多</a></p>

    </article>

     </div>

     </div>
       <div class="clear"></div>
<include file="Public/footer" title="Index" />